# Java Class files#
*.class

# Eclipse and STS files #
.project
.classpath
.settings
.springBeans

# IntelliJIDEA files #
.idea
*.iml

# Package Files #
*.jar
*.war
*.ear

# Directories #
target/
*.prefs