.classpath
.project
.settings/   
examples/*/.settings/
examples/*/target/
solutions/*/.settings/
solutions/*/target/  
exercises/*/.settings
exercises/*/target/
sandbox/
target/
tmp/
tmp/*        
solutions/*/*.log